<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- <link rel="stylesheet" href="../css/style.css"> -->
            <link rel="stylesheet" href="../css/style2.css"> 
            <title>Document</title>
        </head>
    <body>
        <div class="top-wrapper">

            <header>
                
                    <div>
                        <a href="../index.html" class="logo"></a>
                        <div>
                            <!-- <article style="width: 100px; height: 100px; background-color: aqua;"></article> -->
                            <div id="btn" class="circle" onclick="changeColor()"></div>

                        </div>
                    </div>
                    <nav>
                        <ul>
                            <li><a href="">Layout 1</a></li>
                            <li><a href="">Layout 2</a></li>
                            <li><a href="">Layout 3</a></li>
                        </ul>
                    </nav>
            </header>

            <aside>
                <article></article>
                <article></article>
                <article></article>
                <article></article>
            </aside>
        </div>

        <main id="main"></main>
        <footer></footer>
        <script src="../script/script.js"></script>
    </body>
</html>