<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <title>EX3</title>
    </head>
    <body>
        <div class="layout2">
            <header>
                <div>
                    <a href="../index.html" class="logo"></a>
                </div>
            </header>

            <div class="wrapper-2">
                <nav>
                    <a href="../index.html">Layout 1</a>
                    <a href="#" class="selected">Layout 2</a>
                    <a href="#">Layout 3</a>
                </nav>
                <main>
                    <section>
                        <article></article>
                        <article></article>
                        <article></article>

                    </section>

                    <section>
                        <article></article>
                        <article></article>
                    </section>

                </main>
                <aside>
                    <article></article>
                    <article></article>
                </aside>
            </div>
            <footer></footer>
        </div>

        
    </body>
</html>